<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text voice converter</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.4/dist/flowbite.min.css" />
</head>

<!--
it is necessary add
    - translate option for voice and for text
    - voice avatar (several types of voices)
    - voice male female option
-->

<body  class="bg-gray-100 py-5 h-screen">



<div class="bg-gray-100 flex items-center justify-center">
    <p class="text-3xl">Text to Voice Converter</p>
</div>

<div class="columns-1 flex flex-col space-y-3">

    <div class="container mx-auto md:flex md:justify-center mb-6 pt-8">
        <div class="w-full max-w-xl">
            <!--/*@thymesVar id="SearchBox" type="java"*/-->
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" th:action="@{/grid}"  method="post" th:object="${SearchBox}" >
                <div class="mb-4">
                    <label class="relative block" for="queryString">
                        <span class="sr-only">Search</span>
                        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20"><!-- ... --></svg>
                    </span>
                        <input id="queryString" th:field="*{queryString}" class="placeholder:italic placeholder:text-slate-400 block bg-white w-full border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="File name to save..." type="text" name="queryString"/>
                    </label>
                </div>
                <div id="object_play">
                    <audio id="audio_player" controls="true"></audio>
                </div>
            </form>
        </div>
    </div>

        <div class="bg-gray-100 flex items-center justify-center">
            <textarea id="message_id" rows="5" cols="90"></textarea><br>
        </div>

    <div class="bg-gray-100 flex flex-row items-center gap-x-10 justify-center">
        <button onclick="ClearTextArea()" id="clearText" class="px-4 py-2 bg-red-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            Clear text content
        </button>

    </div>



    <div class="bg-gray-100 flex flex-row items-center gap-x-10 justify-center">
        <button id="sendText" class="px-4 py-2 bg-green-400 text-white font-semibold rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            convert Text to Voice
        </button>
        <input type="checkbox" checked="true" id="chk-hombre" class="px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75"
            value="Onyx" onchange="toggleCHK()">
        <label for="chk-hombre">Onyx voz masculina</label><br>
        <input type="checkbox" id="chk-mujer" class="px-4 py-2 font-semibold text-white bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-75"
               value="Shimmer" onchange="toggleCHK2()">
        <label for="chk-mujer">Shimmer voz femenina</label><br>

    </div>



    </div>

</div>


<script src="app.js"></script>
<script>

    const eventSource = new EventSource("/sse");

    eventSource.onmessage =  (event) => {

        // fill text with data transcription
        const messageTextarea = document.getElementById("message_id");
        messageTextarea.value=event.data;

    };

    // close the connection to the server
    window.addEventListener("beforeunload", () => {
        eventSource.close();
    });

</script>
    <script>
        function ClearTextArea(){
            const messageTextarea = document.getElementById("message_id");
            messageTextarea.value="";
        }
    </script>
<script>
    function toggleCHK(){

        //console.log(chk_element.name);

        if (document.getElementById("chk-hombre").checked)
            document.getElementById("chk-mujer").checked=false;
        else
            document.getElementById("chk-mujer").checked=true;

    }

    function toggleCHK2(){

        //console.log(chk_element.name);

        if (document.getElementById("chk-mujer").checked)
            document.getElementById("chk-hombre").checked=false;
        else
            document.getElementById("chk-hombre").checked=true;

    }

</script>
</body>
</html>
